<div class="alerts">
    <$ Object.keys(messages).forEach(function (type) { $>
        <$ messages[type].forEach(function (message) { $>
            <div class="alert alert-<$= type $>">
            	<$ if (type == 'error') { $>
            		<img src="images/ic_error_white_24px.svg">
            	<$ } $>
                <$= message $>
            </div>
        <$ }) $>
    <$ }) $>
</div>