<$ include ./partials/header $>
<div class="login-form">
	<form method="POST" action="/">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<button type="submit" name="login">Login</button>
		<button type="submit" name="register">Register</button>
	</form>
</div>

<$- messages('./partials/message', locals) $>

<$ include ./partials/footer $>