<$ include ./partials/head $>

	<header>
		<div class="friends_list_header">
			<div class="dropdown_link">
				<img src="http://via.placeholder.com/50/CCCCCC/000000">
				<span><$= user.username $></span>
				<$ if(user.received_friend_requests.length > 0) { $>
						<span class="notification_count"><$= user.received_friend_requests.length $></span>
				<$ } $>
			</div>

			<div class="dropdown">
				<div class="settings">
					<h2>Settings</h2>

					<label>
						Username
						<input type="username" name="username" value="<$= user.username $>">
					</label>

					<label>
						Email
						<input type="email" name="email" value="<$= user.email $>">
					</label>

					<label>
						New password
						<input type="password" name="new_password_1">
					</label>

					<label>
						New password again
						<input type="password" name="new_password_2">
					</label>

					<label>
						Current password
						<input type="password" name="password">
					</label>

					<div class="feedback_message"></div>

					<button id="save_settings" class="button button_green">Save</button>
					<button id="discard_settings" class="button button_red">Discard</button>
				</div>

				<div class="notifications">
					<ul>
						<$ user.received_friend_requests.forEach(function(friend_request) { $>
							<li data-id="<$= friend_request.id $>"><$= friend_request.username $><div><div><img src="images/ic_person_add_white_24px.svg" class="accept_request" alt="accept friend request"></div><div><img src="images/ic_remove_circle_white_24px.svg" class="decline_request" alt="decline friend request"></div></div></li>
						<$ }) $>
					</ul>
				</div>

				<ul>
					<li id="open_notification_panel">Notifications</li>
					<li id="open_settings_panel">Settings</li>
				</ul>
				<a href="/logout"><button class="button button_red">Logout</button></a>
			</div>
		</div>

		<div class="chat_header">
			<span class="chatting_with">Group: everyone</span>
		</div>
	</header>

	<aside>
		<ul class="friends_list">
			<$ user.friends.forEach(function(friend) { $>
				<li data-id="<$= friend.id $>" data-chat-id="<$= friend.chat $>">
					<img src="http://via.placeholder.com/50/CCCCCC/000000?text=<$= friend.username.charAt(0) $>">
					<span class="username"><$= friend.username $></span>
					<span class="last_message">
						<$ if(friend.last_msg) { $>
							<$= friend.last_msg.from == user.id ? 'You: '+friend.last_msg.msg : ''+friend.last_msg.msg $>
						<$ } $>
					</span>
				</li>
			<$ }) $>
		</ul>

		<div class="search_results">
			<ul></ul>
		</div>

		<div class="add_box">
			<img src="images/ic_add_white_24px.svg">
			<input type="text" name="add" placeholder="Search users">
		</div>
	</aside>

	<ul id="messages"></ul>
	<ul id="code_window"></ul>
	<div class="messaging_form_container">
	  <form action="javascript:void(0);">
	      <input id="m" autocomplete="off" placeholder="Type your message here...">
	      <button>Send</button>
	  </form>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script>
		var user = <$- JSON.stringify(user) $>
	</script>
	<script src="js/socketio_listeners.js"></script>
	<script src="js/buttons.js"></script>

<$ include ./partials/footer $>