<$ include ./partials/head $>

	<header>
		<div class="friends_list_header">
			<div class="dropdown_link">
				<img src="http://via.placeholder.com/50/CCCCCC/000000">
				<span><$= username $></span>
			</div>

			<div class="dropdown">
				<div class="settings">
					<h2>Settings</h2>

					<label>
						Username
						<input type="username" name="username" value="<$= username $>">
					</label>

					<label>
						Email
						<input type="email" name="email" value="<$= email $>">
					</label>

					<label>
						New password
						<input type="password" name="new_password_1">
					</label>

					<label>
						New password again
						<input type="password" name="new_password_2">
					</label>

					<label>
						Current password
						<input type="password" name="password">
					</label>

					<div class="feedback_message"></div>

					<button id="save_settings" class="button button_green">Save</button>
					<button id="discard_settings" class="button button_red">Discard</button>
				</div>

				<ul>
					<li id="open_settings_panel">Settings</li>
					<li><a href="/logout"><button class="button button_red">Logout</button></a></li>
				</ul>
			</div>
		</div>

		<div class="chat_header">
			<span class="chatting_with">Group: everyone</span>
		</div>
	</header>

	<aside>
		<ul>
			<$ users.forEach(function(user) { $>
				<li>
					<img src="http://via.placeholder.com/50/CCCCCC/000000">
					<span class="username"><$= user.username $></span>
					<span class="last_message">Last message</span>
				</li>
			<$ }) $>
		</ul>

		<div class="search_results">
			<ul></ul>
		</div>

		<div class="add_box">
			<img src="images/ic_add_white_24px.svg">
			<input type="text" name="add" placeholder="Search users">
		</div>
	</aside>

	<ul id="messages"></ul>
	<ul id="code_window"></ul>
	<div class="messaging_form_container">
	  <form action="javascript:void(0);">
	      <input id="m" autocomplete="off" />
	      <button>Send</button>
	  </form>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script>
		var current_user = {username:'<$= username $>', email: '<$= email $>'}
	</script>
	<script src="js/socketio_listeners.js"></script>
	<script src="js/buttons.js"></script>

<$ include ./partials/footer $>