<$ include ./partials/head $>

	<header>
		<div class="friends_list_header">
			<span>Logged in as: <$= username $></span>
			<a href="/logout"><button>Logout</button></a>
		</div>

		<div class="chat_header">
			<span class="chatting_with">Group: everyone</span>
		</div>
	</header>

	<aside>
		<ul>
			<$ users.forEach(function(user) { $>
				<li>
					<img src="http://via.placeholder.com/50/CCCCCC/000000">
					<span class="username"><$= user.username $></span>
					<span class="last_message">Last message</span>
				</li>
			<$ }) $>
		</ul>
	</aside>

	<ul id="messages"></ul>
	<div class="messaging_form_container">
	  <form action="javascript:void(0);">
	      <input id="m" autocomplete="off" />
	      <button>Send</button>
	  </form>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script>
	    const socket = io()
	    var active_chat

	    socket.on('connect', () => {
	    	socket.emit('connected', {id: socket.id, username: '<$= username $>'})
		    socket.emit('join', {username: '<$= username $>'})
	    })

	    socket.on('disconnect', function() {
	    	alert('Server is not responding')
	    })

	    $('form').submit(function() {
	    	var message = $('#m').val()
	    	if (active_chat) {
	    		$('#messages').append($('<li>').text(message))
		    	socket.emit('private message', {msg: message, recipient: active_chat})
		    } else {
		    	socket.emit('chat message', message)
		    }
	        $('#m').val('')
	        return false
	    })

	    socket.on('chat message', function(msg) {
	        $('#messages').append($('<li>').text(msg))
	    })

	    socket.on('private message', function(data) {
	    	if (data.from == active_chat) {
	        	$('#messages').append($('<li>').text(data.msg))
	        }

	        var length = data.msg.length
	        if (length > 18) {
	        	data.msg = data.msg.slice(0,-(length-18)) + '...'
	        }

	        $('aside li span:contains("'+ data.from +'")').next().text(data.msg)
	    })

	    $('aside li').on('click', function() {
			active_chat = $(this).children('.username').text()
			$('.chatting_with').text(active_chat)
			//socket.emit('leave', {username: '<$= username $>'})
			$('#messages').empty()
		  	//socket.emit('join', {username: active_chat})
		})
	</script>

<$ include ./partials/footer $>