<$ include ./partials/header $>

	<div class="login-form">
		<form method="POST" action="/register">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="password2" placeholder="Password again">
			<button type="submit" name="register">Register</button>
		</form>
	</div>

	<$- messages('./partials/message', locals) $>

<$ include ./partials/footer $>